<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yogesh.firzen.mukkiasevaigal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".Thapu" />
    </application>

</manifest>
